---
import Layout from "@layouts/Layout.astro"
import { t } from "i18n:astro";
---
<Layout title="About">
  <section>
    <article>
      <span>REMODELING FC LLC</span> {t('about_text')}
    </article>
  </section>
  <section>
    <h2>{t('why_title')}</h2>
    <article>
      At <span>REMODELING FC LLC</span> {t('why_text')}
    </article>
    <span>{t('Benefits_title')}:</span>
    <ol class="benefits__list">
      <li>{t('common:Benefits.0')}</li>
      <li>{t('common:Benefits.1')}</li>
      <li>{t('common:Benefits.2')}</li>
      <li>{t('common:Benefits.3')}</li>
      <li>{t('common:Benefits.4')}</li>
      <li>{t('common:Benefits.5')}</li>
    </ol>
  </section>
  </Layout>
