---
import Layout from "@layouts/Layout.astro"
---
<Layout title="About">
  <section>
    <article>
      REMODELING FC LLC is a seasoned provider of home improvement services, boasting over 10 years of industry experience. The company has established a strong reputation for delivering high-quality craftsmanship and exceptional customer service in a variety of remodeling projects. Their extensive experience ensures they understand the nuances of both modern and traditional design elements, making them a trusted choice for homeowners looking to enhance their living spaces.
    </article>
  </section>
  <section>
    <h2>Why Choose Us?</h2>
    <article>
      At REMODELING FC LLC, we pride ourselves on delivering exceptional home improvement services that combine quality craftsmanship, superior materials, and a customer-centric approach. Here’s why you should choose us for your next remodeling project.
    </article>
    <span>Our core benefits as a Floor company include:</span>
    <ol>
      <li class="list__item">Over 10 Years of Experience</li>
      <li class="list__item">High-Quality Materials</li>
      <li class="list__item">Skilled Craftsmanship</li>
      <li class="list__item">Comprehensive Services</li>
      <li class="list__item">Personalized Approach</li>
      <li class="list__item">Efficient Project Management</li>
    </ol>
  </section>
  </Layout>
