---
import Layout  from "@layouts/Layout.astro";
import Hero from "@sections/hero.astro";
import Highlights from "@components/Highlights/Highlights.astro";
import { t } from "i18n:astro";
import { getLocale } from "i18n:astro";
import Card from "@components/Card/Card.astro";

const funfacts = [
	{
	img: "./images/logo.png",
	funfact: "240 +",
	title: "PROJECT COMPLETE",
	},
	{
	img: "./images/logo.png",
	funfact: "240 +",
	title: "HAPPY CLIENTS",
	},
	{
	img: "./images/logo.png",
	funfact: "240 +",
	title: "WORKING PROJECTS",
	},
]

const locale = getLocale()
---

<Layout title="RemodelingFc">
	<main>
		<Hero /> 

		<section class="introduction_container">
			<article class="introduction_text">
				<h3>{t('introduction_text')}</h3>
			</article>

			<article class="introduction_title">
				<h1>{t('introduction_title')}</h1>
			</article>
		</section>

		<div>
			<h3>{t('services_section.0.title')}</h3>
			<p><span>Remodeling FC</span>{t('services_section.0.description')}</p>

			<div>
				<ol>
					<li>Floor Services</li>
					<li>Painting Services</li>
				</ol>
			</div>

			<div class="funfacts_container">
				{funfacts.map((funfact) => (
					<div class="funfact">
						<img src={funfact.img} alt="funfact"/>
						<h3>{funfact.title}</h3>
						<p>{funfact.funfact}</p>
					</div>
				))}
			</div>
		</div>

		<div class="why_section">
				<Card title={t('why_title')} body={t('why_text')} />
			
	
				<div class="benefits_section">
					<h3>{t('Benefits_title')}</h3>
					<ol class="benefits_list">
						<li>{t('common:Benefits.0')}</li>
						<li>{t('common:Benefits.1')}</li>
						<li>{t('common:Benefits.2')}</li>
						<li>{t('common:Benefits.3')}</li>
						<li>{t('common:Benefits.4')}</li>
						<li>{t('common:Benefits.5')}</li>
					</ol>
				</div>
		</div>

		<!--TODO: Testimonials -->
	</main>
</Layout>

<style>
	main {

		& .funfacts_container {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;


			@media (width >= 768px) {
				flex-direction: row;
				justify-content: space-between;
				padding: 1.5rem;
			}
		}

		& .why_section {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding-block: 2rem;
			gap: 1.5rem;
			
			@media (width >= 768px) {
				flex-direction: row;
			}
		}
		& .benefits_section {
			
			& .benefits_list {
				list-style: none;
			}
		}
	}
</style>
