---
interface ButtonProps {
  text: string;
  href: string;
  CtA: boolean;
}

const { text, href, CtA } = Astro.props;
---
<button class="button" class:list={{CtA}}>
  <a href={href}>{text}</a>
</button>