---
// import { Highlights } from "./data"
---
<div>
  <div class="embla">
    <div class="embla__container">
      <div class="embla__slide">
        <img src="/images/assets/highlight1.webp" alt="highlight"/>
      </div>

      <div class="embla__slide">
        <img src="/images/assets/highlight2.webp" alt="highlight"/>
      </div>

      <div class="embla__slide">
        <img src="/images/assets/highlight3.webp" alt="highlight"/>
      </div>
</div>


<style is:inline>
     & .embla {
       overflow: hidden;
       height: 400px;
 
       & .embla__container {
         display: flex;
         height: 100%;
 
         & .embla__slide {
           flex: 0 0 100%;

           & img {
             width: 100%;
             height: 100%;
             object-fit: cover;
           }
         }
       }
     }
 </style>
 
 <script>
   import EmblaCarousel from "embla-carousel";
   import Autoplay from "embla-carousel-autoplay"
 
   const emblaNode = document.querySelector(".embla") as HTMLElement;
   const options = { loop: false };
   const plugins = [Autoplay()];
   EmblaCarousel(emblaNode, options, plugins);
 </script>