---
interface Props {
	title: string;
	body: string;
	class?: string; 
}

const { title, body, class: className } = Astro.props;
---

<div class="card">
		<h2>
			{title}
		</h2>
		<p>
			{body}
		</p>
</div>
<style>
	.card {
		width: 15rem;
		background-color: var(--orange-1);
		color: var(--white);
		border-radius: 5px;
		padding: 1rem;

		@media (width >= 768px) {
			width: 30rem;
		}
	}
</style>
