---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar.astro";
import Hero from "sections/hero.astro";
import Highlights from "@components/highlights/highlights.astro";
import Footer from "@components/footer/footer.astro";
const funfacts = [
	{
	img: "./images/logo.png",
	funfact: "240 +",
	title: "PROJECT COMPLETE",
	},
	{
	img: "./images/logo.png",
	funfact: "240 +",
	title: "HAPPY CLIENTS",
	},
	{
	img: "./images/logo.png",
	funfact: "240 +",
	title: "WORKING PROJECTS",
	},
]
---

<Layout title="RemodelingFc">
	<main>
		<Navbar />
		<Hero />

		<section class="introduction__container">
			<article class="introduction__title">
				<h2>THE LUXURY APARTMENT IN THE HEART OF MONACO</h2>
			</article>

			<article class="introduction__text">
				<p>Saint Roman district, in a luxury residence with concierge 24 hours a day, swimming pool, sauna, and fitness room, beautiful 3 rooms completely renovated and furnished with a surface of 76 sqm of living space and 16 sqm of terraces.

					Apartment facing South, it enjoys a nice sea view and is very bright. Close to all amenities. It is composed of an entrance hall with cupboards, a living room with fitted kitchen opening onto a terrace in front of the sea, a bedroom with its complete shower room and access to a large terrace, a second bedroom, a second shower room as well as plenty of storage and cupboards throughout the apartment.</p>
			</article>
		</section>

		<div>
			<p>Remodeling Fc</p>
			<h3>Comprehensive Home Improvement Services</h3>
			<p>REMODELING FC LLC offers a comprehensive range of services designed to enhance both the aesthetic and functional aspects of your home. With over 10 years of experience, their laminated flooring services include personalized consultations</p>

			<div>
				<ol>
					<li>Floor Services</li>
					<li>Painting Services</li>
				</ol>
			</div>

			<div class="funfacts__container">
				{funfacts.map((funfact) => (
					<div class="funfact">
						<img src={funfact.img} alt="funfact"/>
						<h3>{funfact.title}</h3>
						<p>{funfact.funfact}</p>
					</div>
				))}
			</div>
		</div>

		<div class="mayor__section">
			<div class="mayor__container">
				<p>MON TO SAT FROM 8AM TO 6PM</p>
				<h2>Why Choose Us?</h2>
				<p>
					At REMODELING FC LLC, we pride ourselves on delivering exceptional home improvement services that combine quality craftsmanship, superior materials, and a customer-centric approach.
				</p>
				
				<h3>Our Core Benefits</h3>
				<ol>
					<li>Over 10 Years of Experience</li>
					<li>High-Quality Materials</li>
					<li>Skilled Craftsmanship</li>
					<li>Comprehensive Services</li>
					<li>Personalized Approach</li>
					<li>Efficient Project Management</li>
				</ol>
			</div>
		</div>
		<!--TODO: Testimonials -->

		<Highlights />
		<Footer />
	</main>
</Layout>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
