---
import { t } from "i18next";
interface Props {
  address?: string;
  email?: string;
  phone?: string;
  schedule?: string;
}

const { schedule, phone, email, address } = Astro.props;
---

<ul>
  <li>
    <p>{address}</p>
  </li>

  <li>
    <p>{email}</p>
  </li>

  <li>
    <p>{phone}</p>
  </li>

  <li>
    <p>{schedule}</p>
  </li>

</ul>