<footer>
  <div>
    <img src="./images/logo.png" alt="logo">
    <p><span>REMODELING FC LLC</span> is a seasoned provider of home improvement services, boasting over 10 years of industry experience.</p>
  </div>

  <div>
    <p>We Cover</p>

  </div>

  <div>
    <p>Contact</p>
    <ol>
      <li><img /> Davenport, FL 33837, USA</li>
      <li><img /> <a href="mailto:remodelingfcllc@gmail.com">remodelingfcllc@gmail.com</a></li>
      <li><img /> (407) 613-4385</li>
      <li><img /> Mon - Sat: 8.00 am - 6.00 pm</li>
    </ol>

    <p>Cash, Chekes, Zelle, Cards</p>
  </div>
  <p>
    © Copyright 2024 REMODELING FC LLC
  </p>
</footer>