---
import { t } from "i18n:astro";
---

<section class="hero">
 <div class="hero__container">
  <h1>{t('introduction__title')}</h1>
  <p>{t('introduction__text')}</p>
 </div>
</section>

<style>
 .hero {
   background: url("/images/assets/hero.webp") no-repeat center center;
   background-size:cover ;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
</style>
