---

---

<section class="hero">
  <div class="embla">
    <div class="embla__container">
      <div class="embla__slide">
        <img src="./images/logo.png"/>
      </div>

      <div class="embla__slide">
        <img src="./images/logo.png"/>
      </div>

      <div class="embla__slide">
        <img src="./images/logo.png"/>
      </div>
    </div>
  </div>
</section>

<style>
 .hero {
    & .embla {
      overflow: hidden;
      height: 400px;

      & .embla__container {
        display: flex;
        height: 100%;

        & .embla__slide {
          flex: 0 0 100%;
        }
      }
    }
  }
</style>

<script>
  import EmblaCarousel from "embla-carousel";
  import Autoplay from "embla-carousel-autoplay"

  const emblaNode = document.querySelector(".embla") as HTMLElement;
  const options = { loop: false };
  const plugins = [Autoplay()];
  EmblaCarousel(emblaNode, options, plugins);
</script>