---
import { t }  from "i18next";
---

<section class="hero">
 <div class="hero__container">
  <h1>hola :v</h1>
  <p>papu :v</p>
 </div>
</section>

<style>
 .hero {
   background: url("/images/assets/hero.webp") no-repeat center center;
   background-size:cover ;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
</style>
