---
import { Navbar } from '@components/Navbar';
import Footer from '@components/Footer/Footer.astro';
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <body>
      <slot />
    </body>
</html>

<style is:global>
  :root {
  --orange-1: #df7400;
  --orange-2: #c05c00;
  --orange-3: #523219;

  --orange-indicator: #ec8004;


  --blue-10: #3873ff;
  --blue-11: #063cff;
  --blue-12: #030076;

  --black: #21222285;
  
  --gray-2: #00aaff0f;
  --gray-3: #0084ff1d;
  --gray-4: #0073ff28;
  --gray-5: #006eff33;
  --gray-6: #0067ff3e;
  --gray-7: #0065ff4f;
  --gray-8: #005dff6c;
  --gray-9: #0051ffb5;
  --gray-10: #004cffc7;
  --gray-11: #0037fff9;

  --white: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #4a83ff;
  --gray-track: #4a83ff;
  }

  @view-transition {
    navigation: auto;
  }
  * {
		box-sizing: border-box;
		margin: 0;
	}
	html {
		font-family: Monaco, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>