---
import { Navbar } from '@components/Navbar';
import Footer from '@components/Footer/Footer.astro';
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <body>
      <slot />
    </body>
</html>

<style is:global>
  :root {
  --orange-1: #df7400;
  --orange-2: #c05c00;
  --orange-3: #523219;

  --orange-indicator: #ec8004;


  --blue-1: #3873ff;
  --blue-2: #063cff;
  --blue-3: #030076;

  --black: #000000c3;

  --gray-2: #00aaff0f;
  --gray-3: #0084ff1d;
  --gray-4: #0073ff28;
  --gray-5: #006eff33;
  --gray-6: #0067ff3e;
  --gray-7: #0065ff4f;
  --gray-8: #005dff6c;
  --gray-9: #0051ffb5;
  --gray-10: #004cffc7;
  --gray-11: #0037fff9;

  --white: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #4a83ff;
  --gray-track: #4a83ff;
  }

  @view-transition {
    navigation: auto;
  }
  
  * {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@font-face {
  font-family: 'Noto Sans SC Variable';
  font-style: normal;
  font-display: auto;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-sc:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
</style>